* {
    padding: 0;
    margin: 0
}

body {
    margin: 0;
    background-color: #161A45;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.content-container {
    display: flex;
    background-color: #ffffff;
    width: 1850px;
    height: auto;
    padding: 20px;

    border-radius: 10px;
}
.additional-div {
    display: flex;
    flex: 1;
}
.main-contain {
    flex-direction: column;
    display: flex;
    flex: 4.3;
    color: black;
}
.bottom {
    flex: 3;

}

.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* 두 개의 컬럼을 만듭니다. */
    grid-template-rows: 1fr 1fr;
    /* 두 개의 로우를 만듭니다. */
}

























































