<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecoala</title>
    <link rel="stylesheet" href="/css/admin.css">
       
    </style>
</head>

<body>
    <div class="content-container">
        <div class="additional-div">
            <nav>
                <div class="nav-logo">
                    <a href="#" class="logo">
                        <img src="/img/Ecoala-removebg-preview.png" alt="" style="width: 220px; height: 230px;">
                    </a>
                </div>
                <div class="nav-menu">
                    <ul class="menu">
                        <li>
                            <a class="list" href="#"><b>고객 정보</b></a>
                        </li>
                        <li>
                            <a class="list" href="#"><b>게시판 수정</b></a>
                        </li>
                        <li>
                            <a class="list" href="#"><b>공지 작성</b></a>
                        </li>
                        <li>
                            <a class="list" href="#"><b>상품 추가</b></a>

                        </li>
                        <li>
                            <a class="list" href="#"><b>상품 삭제</b></a>
                        </li>
                    </ul>
                </div>
                
            </nav>
                
        <div class="main-contain">
            <div class="top">
                <div class="top-left">
                    <h1 class="title">Admin</h1>
                </div>
                <div class="top-center"></div>
                <div class="top-right">
                    <div class="right-logout">
                        <div class="top-logout"></div>
                        <div class="bottom-logout"></div>
                    </div>
                    <div class="right-mypage">
                        <div class="top-mypage">
                            <div class="right2-mypage">
                                <img class="img-logout" src="/img/pngwing.com.png" alt="">
                            </div>
                        </div>
                        <div class="bottom-mypage">
                            <div class="right2-mypage">
                                <b class="text-2">Logout </b>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="bottom">
                <div class="content">
                    <div class="content-top"></div>
                    <div class="content-bottom"></div>
                </div>
                
            </div>
        </div>

    </div>

</body>
<script src="/script/main.js"></script>

</html>