<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecoala</title>
</head>
<link rel="stylesheet" href="/css/firstscreen.css">

<body>
    <div class="left"></div>
    <div class="center">
        <div class="center-top">
            <div class="center-top-top"></div>
            <div class="center-top-mid">
            </div>
            <div class="center-top-bottom">
                <div class="left-bottom"></div>
                <div class="center-bottom">
                    <img src="/img/Ecoala-removebg-preview.png" alt="" class="logo">
                </div>
                <div class="right-bottom"></div>
            </div>
        </div>
        <div class="center-mid">
            <div class="mid-top"></div>
            <div class="mid-bottom">
                <div class="mid-bottom-1"></div>
                <div class="mid-bottom-2">
                    <div class="admin"></div>
                </div>
                <div class="mid-bottom-3"></div>
                <div class="mid-bottom-4">
                    <div class="user"></div>
                </div>
                <div class="mid-bottom-5"></div>
            </div>
        </div>
        <div class="center-bottom"></div>
    </div>
    <div class="right">
        <div class="right-top">
            <div class="rgt-left">
                <div style="margin-top: 34px;">
                <b class="text-1">회원가입</b>
            </div>
            </div>
            <div class="rgt-right">
                <img src="/img/material-symbols_login-sharp.png" alt="" class="signup">
            </div>
            
        </div>
        <div class="right-bottom-1"></div>
    </div>

</body>
<script src="/script/firstscreen.js"></script>

</html>