<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>탄소포인트</title>
</head>
<link rel="stylesheet" href="/css/list.css">
<link rel="stylesheet" href="/css/point.css">
<link rel="stylesheet" href="/css/top.css">

<body>
    <div class="content-container">
        <div class="additional-div">
            <nav>
                <div class="nav-logo">
                    <a href="#" class="logo">
                        <img src="/img/Ecoala-removebg-preview.png" alt="" style="width: 220px; height: 230px;">
                    </a>
                </div>
                <div class="nav-menu">
                    <ul class="menu">
                        <li>
                            <a class="list" href="#"><b>전력량</b></a>
                            <ul class="submenu">
                                <li><a class="list" href="#"><b>전력량 조회하기</b></a></li>
                                <li><a class="list" href="#"><b>전력량 분석하기</b></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="list" href="#"><b>전기세 계획하기</b></a>
                        </li>
                        <li>
                            <a class="list" href="#"><b>요금 상세보기</b></a>
                        </li>
                        <li>
                            <a class="list" href="#"><b>탄소포인트</b></a>

                        </li>
                        <li>
                            <a class="list" href="#"><b>게시판</b></a>
                        </li>
                    </ul>
                </div>
                <div class="nav-chatbot">
                    <div class="chatbot-top">
                        <img src="/img/Vector.png" alt="" class="chatbot">
                    </div>
                    <div class="chatbot-bottom">
                        <b class="text-3">대화하기</b>
                    </div>
                </div>
            </nav>
            </div>
                
        <div class="main-contain">
            <div class="top">
                <div class="top-left">
                    <h1 class="title">탄소 포인트</h1>
                </div>
                <div class="top-center"></div>
                <div class="top-right">
                    <div class="right-logout">
                        <div class="top-logout"></div>
                        <div class="bottom-logout"></div>
                    </div>
                    <div class="right-mypage">
                        <div class="top-mypage">
                            <div class="left2-mypage">
                                <img class="img-mypage" src="/img/icon-my-page-64.png" alt="">
                            </div>
                            <div class="right2-mypage">
                                <img class="img-logout" src="/img/pngwing.com.png" alt="">
                            </div>
                        </div>
                        <div class="bottom-mypage">
                            <div class="left2-mypage">
                                <b class="text-1">My Page</b>
                            </div>
                            <div class="right2-mypage">
                                <b class="text-2">Logout </b>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="bottom ">
                <div class="bottom-left-1">
                    <div class="point-1">
                        <div class="point-top">
                            <div class="point-title">
                                <b>탄소 포인트 부여</b>
                            </div>
                        </div>
                        <div class="point-mid">
                            <p class="text-4">
                                <b>에너지 항목별 감축률에 따라 탄소포인트 연 2회 부여.</b>
                            </p>
                            <table border="1" class="point-table-1">
                                <th>감축률</th>
                                <th>전기</th>
                                <tr><!-- 첫번째 줄 시작 -->
                                    <td>5% 이상 ~10% 미만</td>
                                    <td> 500 P</td>
                                </tr><!-- 첫번째 줄 끝 -->
                                <tr><!-- 두번째 줄 시작 -->
                                    <td>10% 이상 ~ 15% 미만</td>
                                    <td>1,000 P</td>
                                </tr><!-- 두번째 줄 끝 -->
                                <tr>
                                    <td>15% 이상</td>
                                    <td>1,500 P</td>
                                </tr>
                                </table>
                        </div>
                        <div class="point-bottom">
                            <p class="text-5">
                                <b> 4회 이상 연속 감축자 다음 반기부터 0%초과 ~5% 미만 감축 시 포인트 부여</b>
                            </p><table border="1" class="point-table-2">
                                <th>감축률</th>
                                <th>전기</th>
                                <tr><!-- 첫번째 줄 시작 -->
                                    <td>0% 초과 ~ 5% 미만</td>
                                    <td> 300 P</td>
                                </tr><!-- 첫번째 줄 끝 -->
                                
                                </table>
                        </div>
                    </div>
                </div>
                <div class="bottom-right-1">
                    <div class="point-2">
                        <h2 class="text-6">보유 포인트</h2>
                        <div>
                            <img src="/img/coin.png" alt="" class="coin">
                            <div class="point-all"></div>
                        </div>
                    </div>
                    <div class="point-3">
                        <div class="point-3-top">
                            <h2 class="text-6">상품 교환</h2>
                        </div>
                        <div class="point-3-bottom">
                            <div class="one">
                                <div class="one-1">
                                    <img src="/img/money.png" alt="" class="money">
                                </div>
                                <h2 class="text-8">현금</h2>
                                <div class="one-2">
                                    <h2 class="text-9">5,000P</h2>
                                </div>
                                <div class="one-3">
                                    <div >
                                        <button class="exchange">교환</button>
                                    </div>
                                </div>
                            </div>
                            <div class="two">
                                <div class="two-1">
                                    <img src="/img/bag.png" alt="" class="bag">
                                </div>
                                <h2 class="text-8">에코백</h2>
                                <div class="two-2">
                                    <h2 class="text-10">8,000P</h2>
                                </div>
                                <div class="two-3">
                                    <button class="exchange-2">교환</button>
                                </div>
                            </div>
                            <div class="three">
                                <div class="three-1">
                                    <img src="/img/cup.png" alt="" class="cup">
                                </div>
                                <h2 class="text-11">텀블러</h2>
                                <div class="three-2">
                                    <h2 class="text-10">7,000P</h2>
                                </div>
                                <div class="three-3">
                                    <button class="exchange-3">교환</button>
                                </div>
                            </div>
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
<script src="/script/main.js"></script>

</html>