<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/signup.css">
</head>

<body>
    <div class="main-contain">
        <div class="left"></div>
        <div class="center">
            <div class="top-center"></div>
            <div class="mid-center">
                <div class="top-center-1">
                    <h1 class="title">SIGN UP</h1>
                </div>
                <div class="top-center-2">
                    <div class="logo"></div>
                    <div class="login-box">
                        <form>
                            <div class="user-box">
                                <input type="text" name="" required="">
                                <label>ID</label>
                            </div>
                            <div class="user-box">
                                <input type="password" name="" required="">
                                <label>Password</label>
                            </div>
                            <div class="user-box">
                                <input type="password" name="" required="">
                                <label>비밀번호 확인</label>
                            </div>
                            <div class="user-box">
                                <input type="text" name="" required="">
                                <label>Name</label>
                            </div>
                            <div class="user-box">
                                <select name="memno">
                                    <option value="1">1인가구</option>
                                    <option value="2">2~3인가구</option>
                                    <option value="3">4인이상</option>
                                </select>
                                <label>가구원 수</label>
                            </div>
                            <div class="user-box">
                                <select name="housetype">
                                    <option value="1">아파트</option>
                                    <option value="2">단독주택</option>
                                    <option value="3">빌라</option>
                                </select>
                                <label>집 유형</label>
                            </div>
                            <div class="user-box">
                                <select name="housetype">
                                    <option value="1">80㎡(24평)이하</option>
                                    <option value="2">116㎡(35평)이하</option>
                                    <option value="3">116㎡(35평)초과</option>
                                </select>
                                <label>집 면적</label>
                            </div>
                            <div class="user-box">
                                <select name="housetype">
                                    <option value="1">순천시</option>
                                    <option value="2">목포시</option>
                                    <option value="3">여수시</option>
                                    <option value="4">광양시</option>
                                    <option value="5">나주시</option>
                                </select>
                                <label>지역</label>
                            </div>

                            <a href="#">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                회원가입
                            </a>
                        </form>
                    </div>
                </div>
                <div class="top-center-3"></div>
            </div>
            <div class="bottom-center"></div>
        </div>
        <div class="right"></div>
    </div>

</body>

</html>