<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecoala</title>
    <link rel="stylesheet" href="/css/main.css">
       
    </style>
</head>

<body>
    <div class="content-container">
        <div class="additional-div">
            <nav>
                <div class="nav-logo">
                    <a href="#" class="logo">
                        <img src="/img/Ecoala-removebg-preview.png" alt="" style="width: 220px; height: 230px;">
                    </a>
                </div>
                <div class="nav-menu">
                    <ul class="menu">
                        <li>
                            <a class="list" href="#"><b>전력량</b></a>
                            <ul class="submenu">
                                <li><a class="list" href="#"><b>전력량 조회하기</b></a></li>
                                <li><a class="list" href="#"><b>전력량 분석하기</b></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="list" href="#"><b>전기세 계획하기</b></a>
                        </li>
                        <li>
                            <a class="list" href="#"><b>요금 상세보기</b></a>
                        </li>
                        <li>
                            <a class="list" href="#"><b>탄소포인트</b></a>

                        </li>
                        <li>
                            <a class="list" href="#"><b>게시판</b></a>
                        </li>
                    </ul>
                </div>
                <div class="nav-chatbot">
                    <div class="chatbot-top">
                        <img src="/img/Vector.png" alt="" class="chatbot">
                    </div>
                    <div class="chatbot-bottom">
                        <b class="text-3">대화하기</b>
                    </div>
                </div>
            </nav>
                
        <div class="main-contain">
            <div class="top">
                <div class="top-left">
                    <h1 class="title">DASHBOARD</h1>
                </div>
                <div class="top-center"></div>
                <div class="top-right">
                    <div class="right-logout">
                        <div class="top-logout"></div>
                        <div class="bottom-logout"></div>
                    </div>
                    <div class="right-mypage">
                        <div class="top-mypage">
                            <div class="left2-mypage">
                                <img class="img-mypage" src="/img/icon-my-page-64.png" alt="">
                            </div>
                            <div class="right2-mypage">
                                <img class="img-logout" src="/img/pngwing.com.png" alt="">
                            </div>
                        </div>
                        <div class="bottom-mypage">
                            <div class="left2-mypage">
                                <b class="text-1">My Page</b>
                            </div>
                            <div class="right2-mypage">
                                <b class="text-2">Logout </b>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="bottom ">
                <div class="bottom-left-1"></div>
                <div class="bottom-right-1"></div>
                <div class="bottom-left-2"></div>
                <div class="bottom-right-2"></div>
            </div>
        </div>

    </div>

</body>
<script src="/script/main.js"></script>

</html>